db:
    database: app-db
    user: app-user
    host: db
    port: 5432
web:
    host: 0.0.0.0
    port: 8000
vault:
    host: vault
    port: 8200
    role_id: {{role_id}}
    role_token: {{role_token}}
